.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  border-bottom: 1px solid #b3afaf;
  box-shadow: 2px 2px 2px 2px #dfdfdf;
}

.logo {
  display: flex;
  gap: 25px;
}

.logo img {
  width: 50px;
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  font-size: 18px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.active {
  text-decoration: underline;
  color: #06f;
}

.dragon-image {
  width: 300px;
  height: 250px;
}

.dragon-component ul {
  list-style: none;
  margin: 5px;
}

.dragon-desc {
  font-size: 15px;
  text-align: justify;
  margin-right: 8px;
}

.dragon-component ul li {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.dragon-btn {
  padding: 8px;
  font-size: 15px;
  color: #fff;
  background-color: #06f;
  border-radius: 4px;
  border: transparent;
}

.desc {
  margin-top: -22px;
}
