.navbar {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
  margin-right: 0;
  margin-left: 0;
  border-bottom: 1px solid #b3afaf;
  box-shadow: 2px 2px 2px 2px #dfdfdf;
}

.logo {
  display: flex;
  gap: 25px;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  font-size: 18px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.active {
  text-decoration: underline;
  color: #06f;
}

.dragon-image {
  width: 300px;
  height: 250px;
}

.dragon-component ul {
  list-style: none;
  margin: 5px;
}

.dragon-desc {
  padding: 1.5rem 0;
  font-size: 15px;
  text-align: justify;
  width: 96%;
}

.dragon-component ul li {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.dragon-btn {
  padding: 8px;
  font-size: 15px;
  color: #fff;
  background-color: #06f;
  border-radius: 4px;
  border: transparent;
}

.mission-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #dfdfdfd1;
  justify-content: center;
}

.join-button {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  width: 110px;
  height: 40px;
  border-radius: 4px;
  background-color: #06f;
  color: white;
  transition: background-color 0.3s ease;
}

.join-button:hover {
  background-color: #06f;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

.miss-desc {
  width: 87%;
  margin-left: 25px;
  margin-right: 25px;
}

.mission-info {
  display: flex;
  width: 87%;
  justify-content: center;
}

.mission-status {
  margin-right: 20px;
}

.miss-name {
  width: 25%;
}

.heading {
  display: flex;
  justify-content: space-between;
  width: 96%;
  font-weight: bold;
  margin-top: 50px;
}

.miss-heading {
  margin-left: 27px;
}

/* Rocket */

.rocket-card {
  display: flex;
  margin-bottom: 25px;
}

.rock-desc {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-left: 18px;
}

.rocket-image {
  width: 300px;
  height: 250px;
  margin-left: 45px;
}

.rocket-name {
  margin-bottom: 18px;
}

.rocket-desc {
  margin-bottom: 18px;
}

.reserve-button {
  background-color: #06f;
  color: white;
  width: 128px;
  height: 33px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-reservation {
  background-color: #f5f5f5;
  color: #504f4f;
  border: 1px solid grey;
  width: 152px;
}

/* Missions button */

.cancel-button {
  color: red;
  border: 1px solid red;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  background-color: #e9e5e5;
}

.active-member {
  color: #fff;
  background-color: #0a8499;
  font-size: 15px;
  width: 103px;
  margin-right: 10px;
  padding: 5px;
  display: block;
  border-radius: 4px 4px 4px 4px;
}

.not-member {
  color: #fff;
  background-color: grey;
  width: 103px;
  padding: 5px;
  display: block;
  border-radius: 4px 4px 4px 4px;
}

.profile-container {
  display: flex;
  padding: 10px;
  margin: 10px;
  width: 25%;
  justify-content: center;
}

.mission-table {
  list-style: none;
  padding: 6px;
  margin: 0;
}

.mission-title {
  padding: 6px;
}

.mission-row {
  padding: 18px;
  border: 1px solid #ccc;
}

.reserved-badge {
  width: 4.5rem;
  text-align: center;
  display: block;
  padding: 0.5rem;
  color: white;
  background-color: #18a2b8;
  border-radius: 5px 5px 5px 5px;
  position: relative;
  bottom: 7px;
  margin: 0.6rem 0;
}

.prof-rockets {
  list-style: none;
}

.prof-main-div {
  display: flex;
  justify-content: center;
}
